form.signup,
form.login {
  margin-top: 50px;
}

body {
  background-image: url(http://www.srmfre.com/wp-content/uploads/2017/12/10-things-that-you-should-know-about-the-James-River.jpg);
  opacity: 0.91;
}

#logoutbutt {
  position: absolute;
  top: 50px;
  right: 75px;
  color: white;
}

#logoutlink {
  color: white;
}

/* Login Specific CSS */

#email-input {
margin-left: auto;
margin-right: auto;
}

#password-input {
margin-left: auto;
margin-right: auto;
padding-left: 20px;
padding-right: 20px;
}

#login-button{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
